<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @churchinfo.name %>
</p>

<p>
  <b>Name alias:</b>
  <%= @churchinfo.name_alias %>
</p>

<p>
  <b>:</b>
  <%= @churchinfo. %>
</p>

<p>
  <b>Addln1:</b>
  <%= @churchinfo.addln1 %>
</p>

<p>
  <b>Addln2:</b>
  <%= @churchinfo.addln2 %>
</p>

<p>
  <b>Zone:</b>
  <%= @churchinfo.zone %>
</p>

<p>
  <b>District:</b>
  <%= @churchinfo.district %>
</p>


<%= link_to 'Edit', edit_churchinfo_path(@churchinfo) %> |
<%= link_to 'Back', churchinfos_path %>
