<header>
      <table class="headerbar">
	<tr>
	  <td class="menubar">
	   <nav class="round">
	    <ul>
              <li><%= link_to "Weekly Income Posting |", '#_path' %></li>
	      <li><%= link_to "Monthly Remitance Posting|", '#_path' %></li>
              <li><%= link_to "Income Analysis Rpt |", '#_path' %></li>
	      <li><%= link_to "Remittance Analysis Rpt |", '#_path' %></li>
	      <li><%= link_to "Allocation Breakdown Rpt", '#_path' %></li>
            </ul>
	   </nav>
	   </td>
	   <td class="userbar">
	      User logged:<input type=TEXT name="usrname" value= "geraldoki@yahoo.com">
	   </td>
         </tr>
      </table>
      
    <!-- #%= link_to logo, root_path %> 
    -->
    
</header>

