<!DOCTYPE html>
<html>
	<head>
		<title> <%= title %></title>
		<%= csrf_meta_tags %>
		<%= render 'layouts/stylesheets' %>
		
	</head>
	<body>
		<div class="headerstrip">
			<%= render 'layouts/header' %>
		</div >
		<table>
		  <tr>
		      <td>
			  <div class=" infobarstrip round">
			    <%= render 'layouts/infobar' %>
		          </div >
		      </td>
		      <td>
			  <div class="container">
			     <section class="round">
			      	<%= yield %>
			      </section>
			    
			  </div>
		      </td>
		  </tr>
		</table>
	</body>
</html>
